/*normalize.css*/
html {line-height: 1.15; /* 1 */-webkit-text-size-adjust: 100%; /* 2 */}body {  margin: 0;  }  main {    display: block;  }  h1 {    font-size: 2em;    margin: 0.67em 0;  }  hr {    box-sizing: content-box; /* 1 */    height: 0; /* 1 */    overflow: visible; /* 2 */  }  pre {    font-family: monospace, monospace; /* 1 */    font-size: 1em; /* 2 */  }  a {    background-color: transparent;  }  abbr[title] {    border-bottom: none; /* 1 */    text-decoration: underline; /* 2 */    text-decoration: underline dotted; /* 2 */  }  b,  strong {    font-weight: bolder;  }  code,  kbd,  samp {    font-family: monospace, monospace; /* 1 */    font-size: 1em; /* 2 */  }  small {    font-size: 80%;  }  sub,  sup {    font-size: 75%;    line-height: 0;    position: relative;    vertical-align: baseline;  }    sub {    bottom: -0.25em;  }    sup {    top: -0.5em;  }  img {    border-style: none;  }  button,  input,  optgroup,  select,  textarea {    font-family: inherit; /* 1 */    font-size: 100%; /* 1 */    line-height: 1.15; /* 1 */    margin: 0; /* 2 */  }  button,  input { /* 1 */    overflow: visible;  }  button,  select { /* 1 */    text-transform: none;  }  button,  [type="button"],  [type="reset"],  [type="submit"] {    -webkit-appearance: button;  }  button::-moz-focus-inner,  [type="button"]::-moz-focus-inner,  [type="reset"]::-moz-focus-inner,  [type="submit"]::-moz-focus-inner {    border-style: none;    padding: 0;  }  button:-moz-focusring,  [type="button"]:-moz-focusring,  [type="reset"]:-moz-focusring,  [type="submit"]:-moz-focusring {    outline: 1px dotted ButtonText;  }  fieldset {    padding: 0.35em 0.75em 0.625em;  }  legend {    box-sizing: border-box; /* 1 */    color: inherit; /* 2 */    display: table; /* 1 */    max-width: 100%; /* 1 */    padding: 0; /* 3 */    white-space: normal; /* 1 */  }  progress {    vertical-align: baseline;  }  textarea {    overflow: auto;  }  [type="checkbox"],  [type="radio"] {    box-sizing: border-box; /* 1 */    padding: 0; /* 2 */  }  [type="number"]::-webkit-inner-spin-button,  [type="number"]::-webkit-outer-spin-button {    height: auto;  }  [type="search"] {    -webkit-appearance: textfield; /* 1 */    outline-offset: -2px; /* 2 */  }  [type="search"]::-webkit-search-decoration {    -webkit-appearance: none;  }  ::-webkit-file-upload-button {    -webkit-appearance: button; /* 1 */    font: inherit; /* 2 */  }    details {    display: block;  }  summary {    display: list-item;  }  template {    display: none;  }  [hidden] {    display: none;  }
/*normalize.css*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
html{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: max(300px,25vw);
    height: max(300px,25vw);
}
.cell{
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-size: 4rem;
    font-family: XO;
}
.one{
    border: 7px solid rgb(1, 9, 82);
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.two{
    border:none;
}
.tree{
    border: 7px solid rgb(1, 9, 82);
    border-bottom: none ;
    border-top: none;
    border-right: none;
}
.four{
    border: 7px solid rgb(1, 9, 82);
    border-left: none;
}
.five{
    border: 7px solid rgb(1, 9, 82);
    border-left:none;
    border-right: none;
}
.six{
    border: 7px solid rgb(1, 9, 82);
    border-right: none;
}
.seven{
    border: 7px solid rgb(1, 9, 82);
    border-top: none ;
    border-left: none;
    border-bottom: none;
}
.height{
    border: 7px solid rgb(1, 9, 82);
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.nine{
    border: 7px solid rgb(1, 9, 82);
    border-top: none;
    border-bottom: none;
    border-right: none;

}

body .turn{
    display: flex;
    font-size: xx-large;
    padding: 10px;
    margin-top: 20px;
    font-family: Sunny;
    height: 80px;
    width: 300px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 4px ridge rgba(28,110,164,0.61);
    border-radius: 30px 30px 30px 30px;
    color: #FFFFFF;
    background: #b8b8b8;
    text-shadow: 4px 3px 0 #7A7A7A;
}
.selectOption{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    visibility: visible;
    transition: all .1s;
}
button{
    height: 100px;
    width:180px;
    float: left;
    background-color: #3b82f6;
    border:1px solid #1d4ed8;
    border-radius: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 3rem;
    border-bottom:10px solid #1d4ed8;
    text-shadow: 0px 3px #1d4ed8;
    transition: all .1s;
    grid-row: 6;
    justify-self: center;
}
button:active{
    border:1px solid #1d4ed8;
    transform: translate(0,10px);
    -webkit-transform: translate(0px,10px);
    
    height: 90px;
}

form{
    grid-row: 2/5;
    justify-self: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border: none;
}
input{
    height: 80px;
    width: 250px;
    font-size: 3rem;
    border-radius: 40px;
    border:none;
    outline: #1d4ed8;
    background-color: #93c5fd;
    display: flex;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0,0,0,0);
}
.versus{
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}
.alert{
    grid-row: 5/6;
    justify-self: center;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid rgb(104, 104, 104);
    color: #000000;
    border-radius: 5px;
    padding: 3px;
    visibility: hidden;
}
h1{
    justify-self: center;
    align-self: center;
    font-family: Sunny;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
    color: #e0dfdc;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}
@font-face {
    font-family: XO;
    src: url(./font/TicTacToe.ttf);
 }
 @font-face {
    font-family: Sunny;
    src: url(./font/Sunny\ Spells.ttf);
}
.gameOver{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    position: absolute;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    visibility: hidden;

}


.gameOver #start:active{
    border:1px solid #1d4ed8;
    transform: translate(0,10px);
    -webkit-transform: translate(0px,10px);
    height: 90px;
}

.gameOver .finish{
   display: flex;
   font-size: 4rem;
   justify-content: center;
   align-items: center;
   font-family: Sunny;
   color: white;
    width: 100%;
    background-color: #3b3b3b;
    grid-row: 3/4;
    -webkit-box-shadow: 2px 13px 17px 3px rgba(0,0,0,0.85); 
    box-shadow: 2px 13px 17px 3px rgba(0,0,0,0.85);
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.ia{
    height: 120px;
    width: 100px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.iabtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: #646464;
    border-radius: 20px;
    border: 1px solid #1c1c1c;
    border-bottom:8px solid #1c1c1c;
    transition: all .1s;
}

.iabtn:active{
    border:1px solid #1c1c1c;
    transform: translate(0,8px);
    -webkit-transform: translate(0px,8px);
}
.iabtn img{
    height: 90%;
    width: 90%;
}
.iastatus{
    background-color: gray;
    height: 20px;
    width: 70px;
    border-radius: 30px;
    position: relative;
    border: 3px solid #1c1c1c;
    margin-top: 10px;
}
.iastatus .on{
    transform: translate(-50%,-50%);
    height: 18px;
    width: 18px;
    bottom: 50%;
    top: 50%;
    left: 11px;
    border-radius: 100%;
    background-color: green;
    position: absolute;
    border-right:3px solid #474747;
    border-bottom:3px solid #474747;
    
}
.iastatus .off{
    height: 18px;
    width: 18px;
    transform: translate(50%,-50%);
    bottom: 50%;
    top: 50%;
    right: 11px;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    border-left:3px solid #474747;
    border-bottom:3px solid #474747;
    visibility: hidden;
}

.on p{
    position: absolute;
    top: -15px;
    left: 40px;
}

.off p{
    position: absolute;
    top: -15px;
    right: 35px;
}
.player2{
    display: flex;
    flex-direction: column;
}