/*normalize.css*/
html {line-height: 1.15; /* 1 */-webkit-text-size-adjust: 100%; /* 2 */}body {  margin: 0;  }  main {    display: block;  }  h1 {    font-size: 2em;    margin: 0.67em 0;  }  hr {    box-sizing: content-box; /* 1 */    height: 0; /* 1 */    overflow: visible; /* 2 */  }  pre {    font-family: monospace, monospace; /* 1 */    font-size: 1em; /* 2 */  }  a {    background-color: transparent;  }  abbr[title] {    border-bottom: none; /* 1 */    text-decoration: underline; /* 2 */    text-decoration: underline dotted; /* 2 */  }  b,  strong {    font-weight: bolder;  }  code,  kbd,  samp {    font-family: monospace, monospace; /* 1 */    font-size: 1em; /* 2 */  }  small {    font-size: 80%;  }  sub,  sup {    font-size: 75%;    line-height: 0;    position: relative;    vertical-align: baseline;  }    sub {    bottom: -0.25em;  }    sup {    top: -0.5em;  }  img {    border-style: none;  }  button,  input,  optgroup,  select,  textarea {    font-family: inherit; /* 1 */    font-size: 100%; /* 1 */    line-height: 1.15; /* 1 */    margin: 0; /* 2 */  }  button,  input { /* 1 */    overflow: visible;  }  button,  select { /* 1 */    text-transform: none;  }  button,  [type="button"],  [type="reset"],  [type="submit"] {    -webkit-appearance: button;  }  button::-moz-focus-inner,  [type="button"]::-moz-focus-inner,  [type="reset"]::-moz-focus-inner,  [type="submit"]::-moz-focus-inner {    border-style: none;    padding: 0;  }  button:-moz-focusring,  [type="button"]:-moz-focusring,  [type="reset"]:-moz-focusring,  [type="submit"]:-moz-focusring {    outline: 1px dotted ButtonText;  }  fieldset {    padding: 0.35em 0.75em 0.625em;  }  legend {    box-sizing: border-box; /* 1 */    color: inherit; /* 2 */    display: table; /* 1 */    max-width: 100%; /* 1 */    padding: 0; /* 3 */    white-space: normal; /* 1 */  }  progress {    vertical-align: baseline;  }  textarea {    overflow: auto;  }  [type="checkbox"],  [type="radio"] {    box-sizing: border-box; /* 1 */    padding: 0; /* 2 */  }  [type="number"]::-webkit-inner-spin-button,  [type="number"]::-webkit-outer-spin-button {    height: auto;  }  [type="search"] {    -webkit-appearance: textfield; /* 1 */    outline-offset: -2px; /* 2 */  }  [type="search"]::-webkit-search-decoration {    -webkit-appearance: none;  }  ::-webkit-file-upload-button {    -webkit-appearance: button; /* 1 */    font: inherit; /* 2 */  }    details {    display: block;  }  summary {    display: list-item;  }  template {    display: none;  }  [hidden] {    display: none;  }
/*normalize.css*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
html{
    height: 100vh;
}
body{
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    background: rgb(0,19,36);
    background: radial-gradient(circle, rgba(0,19,36,1) 0%, rgba(9,39,101,1) 18%, rgba(0,212,255,1) 180%);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: max(300px,25vw);
    height: max(300px,25vw);
}
.cell{
    border: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-size: 4rem;
    font-family: XO;
}
.one{
    border: 7px solid rgb(1, 9, 82);
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.two{
    border:none;
}
.tree{
    border: 7px solid rgb(1, 9, 82);
    border-bottom: none ;
    border-top: none;
    border-right: none;
}
.four{
    border: 7px solid rgb(1, 9, 82);
    border-left: none;
}
.five{
    border: 7px solid rgb(1, 9, 82);
    border-left:none;
    border-right: none;
}
.six{
    border: 7px solid rgb(1, 9, 82);
    border-right: none;
}
.seven{
    border: 7px solid rgb(1, 9, 82);
    border-top: none ;
    border-left: none;
    border-bottom: none;
}
.height{
    border: 7px solid rgb(1, 9, 82);
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.nine{
    border: 7px solid rgb(1, 9, 82);
    border-top: none;
    border-bottom: none;
    border-right: none;

}

body .turn{
    display: flex;
    font-size: xx-large;
    padding: 10px;
    margin-top: 20px;
    font-family: Sunny;
    background-color: #3b82f6;
    border:1px solid #1d4ed8;
    border-radius: 40px;
    height: 80px;
    width: 300px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border-bottom:10px solid #1d4ed8;
    text-shadow: 0px 3px #1d4ed8;
    transition: all .1s;
    
}
.selectOption{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    height: 100%;
    width: 100%;
    background: rgb(0,19,36);
    background: radial-gradient(circle, rgba(0,19,36,1) 0%, rgba(9,39,101,1) 18%, rgba(0,212,255,1) 180%);
    visibility: visible;
}
button{
    height: 100px;
    width:180px;
    float: left;
    background-color: #3b82f6;
    border:1px solid #1d4ed8;
    border-radius: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 3rem;
    border-bottom:10px solid #1d4ed8;
    text-shadow: 0px 3px #1d4ed8;
    transition: all .1s;
    grid-row: 6;
    justify-self: center;
}
button:active{
    border:1px solid #1d4ed8;
    transform: translate(0,10px);
    -webkit-transform: translate(0px,10px);
    
    height: 90px;
}

form{
    grid-row: 2/4;
    justify-self: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border: none;
}
input{
    height: 80px;
    width: 250px;
    font-size: 3rem;
    border-radius: 40px;
    border:none;
    outline: #1d4ed8;
    background-color: #93c5fd;
    display: flex;
    padding: 10px;
}
.versus{
    color: white;
    font-size: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.alert{
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    border: 1px solid rgb(0, 47, 255);
    color: #af3f3f;
    border-radius: 5px;
    padding: 3px;
    visibility: hidden;
}
h1{
    justify-self: center;
    align-self: center;
    font-family: Sunny;
    font-size: 5rem;
    font-weight: 100;
    margin: 0;
}
@font-face {
    font-family: XO;
    src: url(./TicTacToe.ttf);
 }
 @font-face {
    font-family: Sunny;
    src: url(./Sunny\ Spells.ttf);
}
.gameover{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    position: absolute;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    visibility: hidden;
}


.gameover #start:active{
    border:1px solid #1d4ed8;
    transform: translate(0,10px);
    -webkit-transform: translate(0px,10px);
    height: 90px;
}

.gameover .finish{
   display: flex;
   font-size: 4rem;
   justify-content: center;
   align-items: center;
   font-family: Sunny;
    width: 100%;
    background-color: #1d4ed8;
    grid-row: 3/4;
}
